
<ion-toolbar *ngIf="viewCart" position="bottom" style="position: absolute; bottom: 50px;">
  <button ion-button full (click)="onClickViewCart()">View Cart
      <span style="position: absolute; right: 15px;">${{totalCartPrice}}</span>
  </button>
</ion-toolbar>

<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Search" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Orders" tabIcon="bookmark"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>

