
<ion-content padding class="theme_dark_transparent">
  <div class="wrapper">
        <div class="log_div">
          <ion-card>
            <ion-card-content>
              <h6>Add Instructions</h6>
              <ion-list>
                  <ion-item style="border: 1px solid lightgrey;">
                      <ion-textarea class="" placeholder="Enter your notes" rows="5"></ion-textarea>
                  </ion-item>

                  <button ion-button full class="theme_background" icon-right (click)="addNotes()">Add Notes
                      <ion-icon name="ios-arrow-forward" class=""></ion-icon>
                  </button>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
  </div>
</ion-content>
