page-add-instruction {
    .theme_dark_transparent{
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
    .scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
        text-align: center;
        overflow-y: hidden;
    }
    .wrapper{
        width:100%;
        height:100%;
        .top_wrapper{
            width: 100%;
            height:350px;
            background:url("../assets/imgs/top_wrapper.png") !important;
            background-position: center;
            background-size: cover !important;
        }
        .bottom_wrapper{
            width:100%;
            height:calc(100% - 350px);
           
        }
        .log_div {
            padding: 15px;
            position:absolute;
            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
            padding-top: calc(100% - 85%);
            img{
                width: 150px;
                padding-bottom: 30px;
            }
            .card{
                border-radius: 5px;
            }
        }
    }

}
