page-restaurant {
    ion-buttons {
        button {
            background: transparent;
        }
    }
    
    .category-filter-icon {
        padding: 1px 7px;
        border: 1px solid;
        font-size: 20px;
    }
    .restaurant-panel {
        position: relative;
        bottom: 30px;
        z-index: 100;
        max-width: 300px;
        margin: 0 auto;
        padding: 15px;
    }
    .menu-list {
        position: absolute;
        width: 100%;
        top: 206px;
        .menu-header {
            text-align: center;
            margin-top: 15px;
            h6 {
                text-decoration: underline;
                text-transform: uppercase;
                margin: 0;
            }   
        }
        .category {
            padding: 15px 0;
            float: left;
            .category-name {
                text-transform: uppercase;
                text-decoration: underline;
                text-align: center;
                margin-bottom: 15px;
                h6 {
                    margin: 0;
                }
            }
            .menu-item {
                width: 100%;
                padding: 10px 15px;
                font-size: 14px;
                min-height: 60px;
                border-bottom: 1px solid lightgrey;
                float: left;
                line-height: 25px;
                &:hover{
                    background-color: lightgrey;
                }
                .item-details {
                    float: left;
                    width: 75%;
                }
                .item-image {
                    float: right;
                    width: 25%;
                }
                & h6,p,p{
                    margin: 0;
                }
            }
        }
    }
    
}
