<ion-header>

  <ion-navbar>
    <ion-title *ngIf="dataLoaded">{{ restaurant ? restaurant.name : "" }}</ion-title>
    <ion-title *ngIf="!dataLoaded">{{ "..." }}</ion-title>
    <ion-buttons end>
      <button><ion-icon name="restaurant" class="category-filter-icon" (click)="openFilterCategoryPanel()"></ion-icon></button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="loading" *ngIf="!dataLoaded">
    <ion-card padding>
      Loading...
    </ion-card>
  </div>
  <div class="restaurant-detail" *ngIf="dataLoaded && restaurant">
    <div class="restaurant-gallery">
        <ion-slides>
          <ion-slide style="max-height: 150px;">
              <img src="https://i.pinimg.com/originals/fb/2e/67/fb2e67600e19ab9a4bcaca5ce917266b.jpg" alt="">
          </ion-slide>
        </ion-slides>
        <ion-card class="restaurant-panel" text-center>
          <h6>{{ restaurant.name }}</h6>
          <p>Open : {{ "11am" }} - {{ "10pm" }}</p>
          <p>5 - 15 min | $5.99 fee</p>
        </ion-card>
    </div>
    <div class="menu-list">
      <div class="menu-header">
          <h6>MENU</h6>
          
      </div>
      <div class="category" id="category-{{category.id}}" *ngFor="let category of restaurant.categories">
        <div class="category-name">
          <h6>{{ category.name}}</h6>
          </div>
        <div class="menu-item" (click)="openItemOptionsModal(menu)" *ngFor="let menu of category.menus">
          <div class="item-details">
              <h6>{{ menu.name}}</h6>
              <p>{{ menu.description }}</p>
              <p>{{ menu.price}}</p>
          </div>
          <div class="item-image">
              <img *ngIf="menu.imageUrl" src="{{menu.imageUrl}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
