<ion-header>

  <ion-navbar>
    <ion-icon item-left name="close" (click)="closeModal()" style="font-size: 30px; padding: 0 0 0 15px;"></ion-icon>
    <ion-title>Your Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="restaurant-name" text-center>
    <h3>{{restaurant.name}}</h3>
    <p>Pick up outside - <span class="delivery-time">10 - 20 min</span></p>
    <hr>
  </div>
  <div class="customer-address" text-center (click)="onClickCustomerAddress()">
    <h3>Delivery Address</h3>
    <p>115 Bannatyne Ave</p>
    <p>Winnipeg, MB</p>
    <p>Meet at vehicle</p>
  </div>
  <div class="delivery-time">
    <p>As soon as possible</p>
  </div>
  <div class="order-items">
    <h3>Order Details</h3>
    <ion-item *ngFor="let menu of cart.menus">
      <ion-row>
        <ion-col col-1>
          {{menu.quantity}}
        </ion-col>
        <ion-col>
          <h4 class="item-name">{{menu.name}} <span class="align-right">${{menu.price * menu.quantity}}</span></h4>
          <p class="notes">
            Add Notes here
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>
  <div class="price-breakdown">
    <p>Subtotal <span>$5.69</span></p>
    <p>Tax <span>$0.74</span></p>
    <p>Delivery Fee <span>$0.99</span></p>
    <p>Delivery Fee (Tax) <span>$0.13</span></p>
    <p class="total">
      <b>Total</b> <span>$7.55</span>
    </p>
  </div>
  <div class="payment-info">
    <p>**** 2046 <span class="float-right">Change</span></p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar position="bottom">
    <button ion-button full>Place Order
    </button>
  </ion-toolbar>
</ion-footer>  
