<ion-header>
  <ion-navbar>
    <ion-title>Your Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="onClickPayment()">
      Payment
    </ion-item>
    <ion-item (click)="onClickFavorite()">
        Your Favorites
    </ion-item>
    <ion-item (click)="onClickHelp()">
        Help
    </ion-item>
    <ion-item (click)="onClickPromotions()">
        Promotions
    </ion-item>
    <ion-item (click)="onClickSettings()">
        Settings
    </ion-item>
    <ion-item (click)="onClickAbout()">
        About
    </ion-item>
  </ion-list>
</ion-content>
