<ion-header>

  <ion-navbar>
    <ion-icon item-left name="close" (click)="closeModal()" style="font-size: 30px; padding: 0 0 0 15px;"></ion-icon>
    <ion-title>Add Payment Card</ion-title>
    <ion-label float-right name="close" (click)="SaveCard()" style="padding: 0 15px 0 0;">Save</ion-label>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
      <ion-label color="primary" stacked>Card Holder Name</ion-label>
      <ion-input type="text" placeholder="MR XXX" value="{{cardholderName}}"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label color="primary" stacked>Card No</ion-label>
      <ion-input type="number" placeholder="XXXXXXXXXXXXXXXX" value="{{cardNumber}}" [(ngModel)]="cardNumber"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label color="primary" stacked>Expiry Date</ion-label>
      <ion-input type="text" placeholder="XX / XX" value="{{expiryDate}}"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label color="primary" stacked>CVV</ion-label>
      <ion-input type="number" placeholder="XXX" value="{{cvv}}"></ion-input>
  </ion-item>
  <button ion-button full (click)="scanCard()">Scan your card</button>
</ion-content>
