<!--
  Generated template for the FilterRestaurantModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-icon item-left name="close" (click)="closeModal()" style="font-size: 30px; padding: 0 0 0 15px;"></ion-icon>
    <ion-title>Filter Restaurant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
