<ion-header>

    <ion-navbar>
      <ion-icon item-left name="close" (click)="closeModal()" style="font-size: 30px; padding: 0 0 0 15px;"></ion-icon>
      <ion-title>Choose your options</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <div class="item-image" *ngIf="menu && menu.imageUrl">
        <ion-slides>
            <ion-slide style="max-height: 180px;">
                <img src="{{ menu.imageUrl }}" alt="">
            </ion-slide>
        </ion-slides>  
    </div>
    <div class="item-details" text-center>
        <h5 *ngIf="menu">{{menu.name}}</h5>
        <p *ngIf="menu">{{menu.description}}</p>
    </div>
    <div class="item-options" *ngFor="let menuChoice of menu.menuChoices">
        <ion-item-divider>
            <span>{{menuChoice.name}}</span>
            <span float-right>{{menuChoice.required ? "Required" : ""}}</span>
        </ion-item-divider>
        <ion-list>
            <ion-item>
              <ion-label>Pepperoni</ion-label>
              <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
            </ion-item>
          
            <ion-item>
              <ion-label>Sausage</ion-label>
              <ion-checkbox [(ngModel)]="sausage"></ion-checkbox>
            </ion-item>
          
            <ion-item>
              <ion-label>Mushrooms</ion-label>
              <ion-checkbox [(ngModel)]="mushrooms"></ion-checkbox>
            </ion-item>
          
        </ion-list>
    </div>
    <div class="item-notes">
        <ion-item-divider>
            <span>Special Instructions</span>
        </ion-item-divider>
        <ion-textarea (click)="onClickNotes()" placeholder="Write any special instruction you want to add" rows="5" readonly style="padding-left: 15px;"></ion-textarea>
    </div>
    <div class="menu-count" text-center>
      <ion-icon name="remove-circle" style="font-size: 40px; padding: 20px;" (click)="onClickMinusIcon()"></ion-icon>
        <span style="font-size: 20px; position: relative; bottom: 7px;">{{ menu.quantity }}</span>
      <ion-icon name="add-circle" style="font-size: 40px; padding: 20px;" (click)="onClickPlusIcon()"></ion-icon>
    </div>    
</ion-content>
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
      <button ion-button full (click)="onClickAddToCart()">Add To Cart
          <span class="add-to-cart-price" *ngIf="menu && menu.price">${{menuPriceOnCart}}</span>
      </button>
    </ion-toolbar>
</ion-footer>
  