<ion-header>
  <ion-navbar>
    <ion-title>Payments</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="onClickPaymentDetail()">
      VISA **** 2046
    </ion-item>
  </ion-list>
  <button ion-button full (click)="onClickAddPaymentCard()">Add Payment Card</button>
</ion-content>
