// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.generic-action-sheet {
    .action-sheet-container {
        padding: 0;
        .action-sheet-group {
            margin: 0;
            border-radius: 0;
            .action-sheet-title {
                font-size: 18px !important;
            }
            .action-sheet-button {
                padding: 15px;
                margin: 0;
                font-size: 16px;
                color: black;
            }
        }
    }
}


