<ion-header>
  <ion-navbar>
    <ion-icon item-left name="close" (click)="closeModal()" style="font-size: 30px; padding: 0 0 0 15px;"></ion-icon>
    <ion-title>Delivery Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="current-location">
    <google-places-autocomplete
        class="autocomplete-search" 
        (callback)="addressChanged($event)" 
        key="AIzaSyAeqSVtqSJ_Qk_mUXhoFFGtip21w9cp4VY">
    </google-places-autocomplete>
    <!--AIzaSyCeTCZU7pecx19mbEsRR6EvFEBydEx5tOg-->
  </div>
  <!--div class="selected-location"></div-->
</ion-content>
