<ion-header>
  <ion-navbar>
    <ion-searchbar
      [(ngModel)]="searchText"
      [showCancelButton]="false"
      [animated]="true"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      [placeholder]="placeholderText">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content padding class="card-background-page">
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6 *ngFor="let cuisine of cuisines">
          <ion-card (click)="onSelectCuisine(cuisine.name)">
              <img src="{{cuisine.img}}">
              <!--img src="../../assets/imgs/search/all.gif"-->
              <div class="card-title">{{cuisine.name}}</div>
              <div class="card-subtitle">{{cuisine.restaurantCount}} Restaurants</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
