page-search {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          margin: 3px;
          width: auto;
          border-radius: 0;
          height: 140px;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 1.5em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 58%;
          width: 100%;
          color: #fff;
        }
      
    }
}
