<ion-header>
    <ion-navbar>
      <ion-searchbar
        [(ngModel)]="searchText"
        [showCancelButton]="false"
        [animated]="true"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)"
        [placeholder]="placeholderText">
      </ion-searchbar>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="more-restaurants" padding>
    <h4>More Restaurants</h4>
    <ion-item text-center *ngFor="let restaurant of restaurants" (click)="openRestaurant(restaurant.id)">
        <h1>{{ restaurant.name }}</h1>
        <p>{{ restaurant.address }}</p>
    </ion-item>
  </div>
</ion-content>
