<ion-header>
    <ion-toolbar>
      <ion-segment [(ngModel)]="orderType" color="primary" (ionChange)="orderSegmentChanged($event)">
        <ion-segment-button value="pastOrders">Past Orders</ion-segment-button>
        <ion-segment-button value="upcomingOrders">Upcoming</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
  <ion-list *ngIf="orderType === 'pastOrders'">
    <ion-item *ngFor="let item of [1,2,3,4,5]">
      Past Order #{{ item }}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="orderType === 'upcomingOrders'">
      <ion-item *ngFor="let item of upcomingOrders">
        Upcoming Order #{{ item.orderId }}
      </ion-item>
  </ion-list>
</ion-content>